<router-outlet>

    <div class="contenedor_principal">
        <header class="header">
            <!-- <section class="sec_header" id="sec_header1"> -->
            <img src="../../assets/sudam1.png" alt="sudamericano">
            <!-- </section> -->
        </header>

        <section class="portada" id="portada">
            <br>
            <br>
            <div class="titulopagina">
                <h2>Diseño del PIENSA</h2>
            </div>

            <br>
            <br>

            <div class="titulopagina">
                <h2>Desarrollo de una aplicación web para el control y programación de ordenes de producción</h2>
            </div>
            <br>
            <br>

            <div class="titulopagina">
                <h2>Realizado por: Angel Eduardo Orellana Román</h2>
            </div>


            <div class="titulopagina">
                <h2>Carrera: Desarrollo de Software</h2>
            </div>

            <div class="titulopagina">
                <h2>Ciclo: Primero</h2>
            </div>

            <div class="titulopagina">
                <h2>Docente: PhD. Ledys Jiménez González</h2>
            </div>

            <div class="titulopagina">
                <h2>Núcleo integrador: Creación de aplicaciones de escritorio</h2>
            </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

        </section>


        <section class="contenido" id="sec_contenido">
            <h2>Contenido</h2>

            <div class="tema">
                <h4>
                    <a href="#">Contenido </a>
                    <a href="" class="puntos">.........................................................2</a>
                    <a href="" class="pag">pag. 2</a>
                </h4>
                <!-- </div> -->

                <!-- <div class="tema"> -->
                <h4>
                    <a href="/#sec_diagnostico">
                        Diagnóstico
                    </a>
                    <a href="" class="puntos">......................................................3</a>
                    <a href="" class="pag">pag. 3</a>
                </h4>
                <!-- </div> -->

                <!-- <div class="tema"> -->
                <h4>
                    <a href="#sec_Ingreso_datos_inicial">
                        Justificación
                    </a>
                    <a href="" class="puntos">.....................................................5</a>
                    <a href="" class="pag">pag. 5</a>
                </h4>
                <!-- </div> -->

                <!-- <div class="tema"> -->
                <h4>
                    <a href="#sec_Ingreso_datos_inicial">
                        Formulación del problema
                    </a>
                    <a href="" class="puntos">................................6</a>
                    <a href="" class="pag">pag. 6</a>
                </h4>
                <!-- </div> -->

                <!-- <div class="tema"> -->
                <h4>
                    <a href="#sec_Ingreso_datos_inicial">
                        Objetivos de la investigación
                    </a>
                    <a href="" class="puntos">............................7</a>
                    <a href="" class="pag">pag. 7</a>
                </h4>
                <!-- </div> -->

                <!-- <div class="tema"> -->
                <h4>
                    <a href="#sec_Ingreso_datos_inicial">
                        Plan de trabajo
                    </a>
                    <a href="" class="puntos">.................................................7</a>
                    <a href="" class="pag">pag. 7</a>
                </h4>
                <!-- </div> -->

                <!-- <div class="tema"> -->
                <h4>
                    <a href="#sec_Ingreso_datos_inicial">
                        Marco de referencia
                    </a>
                    <a href="" class="puntos">..........................................10</a>
                    <a href="" class="pag">pag. 10</a>
                </h4>
                <!-- </div> -->


                <!-- <div class="tema"> -->
                <h4>
                    <a href="#sec_Ingreso_datos_inicial">
                        Marco de conceptual
                    </a>
                    <a href="" class="puntos">.........................................11</a>
                    <a href="" class="pag">pag. 11</a>
                </h4>
                <!-- </div> -->

                <!-- <div class="tema"> -->
                <h4>
                    <a href="#sec_Ingreso_datos_inicial">
                        Metodología
                    </a>
                    <a href="" class="puntos">......................................................12</a>
                    <a href="" class="pag">pag. 12</a>
                </h4>
                <!-- </div> -->

                <!-- <div class="tema"> -->
                <h4>
                    <a href="#sec_Ingreso_datos_inicial">
                        Propuesta del proyecto
                    </a>
                    <a href="" class="puntos">.....................................13</a>
                    <a href="" class="pag">pag. 13</a>
                </h4>
                <!-- </div> -->

                <!-- <div class="tema"> -->
                <h4>
                    <a href="#sec_Ingreso_datos_inicial">
                        Conclusiones
                    </a>
                    <a href="" class="puntos">.....................................................14</a>
                    <a href="" class="pag">pag. 14</a>
                </h4>
                <!-- </div> -->

                <!-- <div class="tema"> -->
                <h4>
                    <a href="#sec_Ingreso_datos_inicial">
                        Recomendaciones
                    </a>
                    <a href="" class="puntos">.............................................17</a>
                    <a href="" class="pag">pag. 17</a>
                </h4>
                <!-- </div> -->

                <!-- <div class="tema"> -->
                <h4>
                    <a href="#sec_Ingreso_datos_inicial">
                        Referencias
                    </a>
                    <a href="" class="puntos">.......................................................18</a>
                    <a href="" class="pag">pag. 18</a>
                </h4>
                <!-- </div> -->

                <!-- <div class="tema"> -->
                <h4>
                    <a href="#sec_Ingreso_datos_inicial">

                    </a>
                </h4>
            </div>

        </section>

        <section id="sec_resumen" class="resumen">
            <h1>
                RESUMEN
            </h1>
            <p>
                En la actualidad los ERP son las mayores herramientas en el control de las actividades de una empresa;
                estos son los mejores aliados para los gerentes, administradores y contadores, sin embargo, el área o
                departamento de producción está un poco relegada y los procesos se llevan de la mejor manera, pero de la
                mas
                optima. La idea de esta aplicación es, en base a la experiencia en los procesos, investigación y
                análisis,
                aminorar la carga de trabajo, disminuir el riesgo de errores y optimizar el tiempo laboral de los
                operarios y
                jefes de producción. Mediante algoritmos y parámetros se van a programar las actividades de producción,
                tomando como base las necesidades especificas de cada empresa o nicho de negocio. La aplicación será un
                modulo que se adjuntará al ERP o sistema que pudiese tener la empresa, caso contrario la información
                necesaria será ingresada de forma ágil, pero en ambos casos con la facilidad de encontrar el módulo en
                línea para su ejecución en cualquier localidad. Empleando SCRUM y sus ventajas la realización de la
                aplicación será dinámica y la retroalimentación que proporcione dará robustez a la misma. Se espera
                cubrir las necesidades de un área fundamental y que hoy en día necesita de agilidad, optimización y
                efectividad en sus procesos.
            </p>
            <a class="back" href="#sec_contenido">Volver al inicio</a>
        </section>

        <section id="sec_diagnostico" class="resumen">
            <h1>
                Diagnóstico
            </h1>
            <p>
                El tiempo en el campo de la producción, los estudios realizados y el hecho de haber laborado en sus
                distintas
                áreas, como operario y en dirección, provee de las nociones necesarias para que el análisis de los
                procesos
                sea muy objetivo y que la solución vaya a atacar directo al problema planteado. La observación en varios
                ERP
                de que el área de producción es básica o mínima permite tener un enfoque claro de lo que se quiere
                desarrollar.
            </p>
            <a class="back" href="#sec_contenido">Volver al inicio</a>
        </section>

        <section id="sec_justificacion" class="resumen">
            <h1>
                Justificación
            </h1>
            <p>
                Estamos proyectando una idea que cubre la necesidad real de muchos jefes o gerentes de producción que
                ven como
                el tiempo no les es favorable o es desperdiciado a causa de una suma de procesos poco optimizados o que
                no
                reflejan su realidad laboral del día a día. La aplicación web no esta dirigida a un tipo de proceso
                específico,
                por lo que podrá usarse en el proceso productivo de diferentes productos, empresas de mono producción o
                con un
                amplio abanico de productos. Esto da pie a que se busque implementar normas de calidad estándar por lo
                que será
                necesario usar métodos estadísticos para mejorar el proceso.
            </p>
            <a class="back" href="#sec_contenido">Volver al inicio</a>
        </section>

        <section id="sec_objet_invest" class="resumen">
            <h1>
                Objetivos de la investigación
            </h1>
            <p>
                Implementar una aplicación web usando las buenas prácticas del desarrollo de software, que sea robusta,
                con una
                interfaz amigable e intuitiva, con procesos sencillos que garanticen la consistencia de la información y
                a
                través la misma reducir el tiempo en el análisis y ejecución de las ordenes de producción brindando la
                posibilidad de invertirlo en la búsqueda de manera mas eficiente en las tareas del área de producción.
            </p>
            <a class="back" href="#sec_contenido">Volver al inicio</a>
        </section>

        <section id="sec_objet_invest" class="resumen">
            <h1>
                Formulación del problema
            </h1>
            <p>
                Es mucho el tiempo que la mayoría de veces se tiene que invertir en la organización de la producción de
                un ítem;
                y se agranda el problema con la falta de un módulo de producción en los ERP actuales que permita
                programar las
                ordenes de producción y también controlar la realización de las mismas cubriéndose en tiempos
                optimizados en cada
                unos de sus procesos.

                Esta implementación quiere aminorar los tiempos en la parte de organización y toma de decisiones
                agilitando las
                etapas que incurren en el proceso productivo.
            </p>

            <img src="../../assets/arbolproblema1.png" alt="árbol de problema">

            <a class="back" href="#sec_contenido">Volver al inicio</a>
        </section>

        <section id="sec_objet_invest2" class="resumen">
            <h1>
                Objetivos de la investigación
            </h1>
            <p>
                Desarrollar una aplicación web robusta, con procesos analizados a profundidad para encontrar la solución
                más
                simple y precisa cumpliendo a cabalidad los requerimientos del cliente, brindando confianza y
                consistencia en
                cada uno de los mismos.
            </p>

            <h1>
                Objetivos específicos
            </h1>

            <p>
                Elaborar una interfaz intuitiva y amigable al usuario con procesos validados para evitar inconsistencias
                de la información.

                Estructurar una base de datos aplicando las normativas adecuadas que permitan un eficiente manejo de los
                datos ingresados.
            </p>

            <a class="back" href="#sec_contenido">Volver al inicio</a>
        </section>


        <section id="sec_marcoteorico" class="resumen">
            <h1>
                Marco de referencia
            </h1>
            <h1>
                Marco de teórico
            </h1>
            <p>
                En el Departamento de Ingeniería de Diseño y Fabricación de la Escuela Universitaria de Ingeniería
                Técnica
                Industrial de la Universidad de Zaragoza se ha desarrollado un Software de Gestión de la Producción
                (OrthoGES)
                para el ámbito de la docencia, donde los alumnos de la asignatura de Planificación y Gestión de la
                Producción,
                pueden realizar prácticas con las que comprenden el proceso de implantación, el trabajo diario y los
                resultados
                y beneficios que se pueden obtener con un software de estas características en una empresa. Dicha
                aplicación
                informática se basa en el desarrollo del M.R.P. (Planificación de las Necesidades de Materiales), y
                considera
                como entrada, el Plan Maestro de Producción. Realiza la planificación a medio plazo obteniendo las
                órdenes de
                compra, órdenes de trabajo, y órdenes de trabajos exteriores necesarios para la fabricación de las
                unidades de
                producto requeridas.
            </p>

            <!-- <h4>
                Actividades de desarrollo de la aplicación:
            </h4>

            <ul>               
                <li>
                    1. Realización de previsiones de ventas sobre hoja de cálculo
                </li>

                <li>
                    2. Realización del plan de producción sobre hoja de cálculo
                </li>

                <li>
                    3. Introducción de datos en OrthoGES.
                </li>
                <li>
                    4. Creación de estructuras en OrthoGES.
                </li>

                <li>
                    5. Lanzamiento del MRP en OrthoGES.
                </li>

                <li>
                    6. Programación de operaciones en OrthoGES.
                </li>

                <li>
                    7. Cálculo del tiempo de operación aplicando el MTM1
                </li>

                <li>
                    8. Captura de datos en planta
                </li>

                <li>
                    9. Aplicación del sistema S.M.E.D.
                </li>

                <li>
                    10. Obtención de resultados en OrthoGES.
                </li>

                <li>
                    11. Integración de la planificación de producción y mantenimiento
                </li>
            </ul> -->

            <p>
                OrthoGES es una aplicación informática basada en el desarrollo del M.R.P. Realiza la planificación a
                medio plazo obteniendo
                las órdenes de compra, órdenes de trabajo, y órdenes de trabajos exteriores necesarios para la
                fabricación de las unidades
                de producto requeridas.
            </p>

            <h1>
                Conclusiones
            </h1>

            <p>
                Con este software se pretende que el alumno conozca como crear una estructura de una empresa o árbol
                departamental, determine los
                parámetros importantes a cerca de máquinas, proveedores, operarios y artículos que se manejan en la
                presa, además de aprender a
                crear la estructura de los mismos.
                El alumno realizará lanzamientos de MRP y obtendrá unos resultados que debe aprender a interpretar para
                ser capaz de tomar
                decisiones tanto en la planificación a medio plazo, como en la programación diaria.
                Por último, el alumno obtendrá resultados en base a históricos (informes, gráficos y datos estadísticos)
                que debe aprender a
                valorar para a partir de los cuales poder realizar cambios y planes de mejora para próximas
                planificaciones.
            </p>
            <a class="back" href="#sec_contenido">Volver al inicio</a>
        </section>


        <section id="sec_marcontextual" class="resumen">
            <h1>
                Marco contextual
            </h1>
            <p>
                La realización de la aplicación abarca las áreas de producción, ventas y compras. En el área de
                producción,
                en donde tenemos mayor enfoque, y para donde va dirigido el desarrollo. El área de ventas interviene con
                la
                información de los pronósticos de ventas proyectados, e incluyendo el área de compras cuando al revisar
                las
                recetas de productos se examina la existencia de la materia prima que compone el producto final.
            </p>

            <a class="back" href="#sec_contenido">Volver al inicio</a>
        </section>

        <section id="sec_marcontextual" class="resumen">
            <h1>
                Marco conceptual
            </h1>
           
            <h4>
                Orden de producción
            </h4>                

            <p>
                Las ordenes de producción se usan para gestionar la conversión de los materiales adquiridos en productos
                manufacturados. Las ordenes de producción dirigen el trabajo de los distintos centros de trabajo o de
                máquina de la planta.
            </p>

            <h4>
                Programación
            </h4>  

            <p>
                Disposición y ejecución de actividades, definiendo que, cuanto, como, donde y quien,
                además los plazos de cumplimiento que permitan alcanzar los planes propuestos.
            </p>
                
            <h4>
                Pronósticos de ventas
            </h4>

            <p>
                También conocido como proyección, planeamiento de ventas, es el cálculo
                aproximado de ventas e ingresos que una empresa debe generar en un determinado período de tiempo
                (mensual, trimestral, semestral o anual).
            </p>
            
            <h4>
                Solicitud de orden de compra
            </h4>

            <p>
                Es el primer paso en el proceso de adquisiciones para que una empresa
                obtenga suministros, servicios y compras dentro del departamento de compras.
                Dicho en otras palabras, es un modo de obtener permiso para iniciar el proceso de adquisición con un
                proveedor externo.
            </p>                           
            <a class="back" href="#sec_contenido">Volver al inicio</a>
        </section>

        <section id="sec_metodologia" class="resumen">
            <h1>
                Metodología
            </h1>
            <p>
               Para el desarrollo de la aplicación web se usara la metodología ágil, especificamente SCRUM, debido a su 
               posicionamiento como una de las mas usadas en el entorno de desarrollo de software. Método que permite 
               un feedback mas que adecuado.
            </p>

            <a class="back" href="#sec_contenido">Volver al inicio</a>
        </section>
        
        <section id="sec_propuesta" class="resumen">
            <h1>
                Propuesta del proyecto
            </h1>
            <p>
                Se propone realizar una aplicación web que permitira al usario encargado de planificar la producción de bienes 
                productos automatizar la forma en la que se generan las ordenes de producción tomando 
                en cuenta parámetros anteriormente analizados y que se produzca aquello con la mayor prioridad.

                La idea es simple, aminorar el número de horas laborables en el proceso de poryectar que se va a producir hoy, 
                esta semana, este mes.
            </p>

            <a class="back" href="#sec_contenido">Volver al inicio</a>
        </section>


    </div>
</router-outlet>